.container {

    background-color: black;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;

}

.container-item {

    background-color: rgb(154, 65, 255);
    border: 2px solid brown;
    width: 50px;
    height: 100px;

}